<div id="<%= dom_id list %>">
  <p>
    <strong>Title:</strong>
    <%= list.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= list.author %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= list.genre %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= list.year %>
  </p>

</div>
